<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>126728926201-c3fv96h0s91nk5v1p7nc4rlkci29hvl3.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.126728926201-c3fv96h0s91nk5v1p7nc4rlkci29hvl3</string>
	<key>API_KEY</key>
	<string>AIzaSyBw_ovY7usgedWfwnTN-6Wtw7hOH_FfWtI</string>
	<key>GCM_SENDER_ID</key>
	<string>126728926201</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nibm.COBSCCOMP191p-022-IOS</string>
	<key>PROJECT_ID</key>
	<string>coronappios</string>
	<key>STORAGE_BUCKET</key>
	<string>coronappios.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:126728926201:ios:aab746eb91178892db8328</string>
	<key>DATABASE_URL</key>
	<string>https://coronappios.firebaseio.com</string>
</dict>
</plist>