<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>957163322822-vqg47husvvsrc4l88hqth6ofvvu6l79o.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.957163322822-vqg47husvvsrc4l88hqth6ofvvu6l79o</string>
	<key>API_KEY</key>
	<string>AIzaSyAmrARQmSvrdmsfeprwviPeVdFOIvVsBjY</string>
	<key>GCM_SENDER_ID</key>
	<string>957163322822</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nibm.COBSCCOMP191p-022-IOS</string>
	<key>PROJECT_ID</key>
	<string>coronatracker-4def8</string>
	<key>STORAGE_BUCKET</key>
	<string>coronatracker-4def8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:957163322822:ios:0d8ada577b9a2f0e5906c7</string>
	<key>DATABASE_URL</key>
	<string>https://coronatracker-4def8.firebaseio.com</string>
</dict>
</plist>